table, th, td {
	border: 1px solid black;
}
th, td{
	padding:5px;
}
table{
	border-collapse: collapse;
}

td:nth-child(3){
	width: max-content;
}
#chat_log{
	margin:5%;
	margin-top:20px;
	margin-bottom:20px;
}

.logStart{
	background-color: #fdf7e3;
	font-weight:bold;
}

input{
	margin-top:10px;
	margin-bottom:10px;
}

.private{
	display:none;
}
#privatetoggle:checked ~ label ~ .private {
	display: table-row;
}
