#menu{
	margin:20px;
	margin-top:20px;
	margin-bottom:20px;
}

select, input{
	margin-top:10px;
}
label{
	user-select: none;
	display:inline; /*inline*/
}
#pvp, #pve, #special, #need-vs, #pve-need-hangar{
	display:none; /*block*/
}
#ai_ps_from, #ai_ps_to {
	width: 100px;
}